body {
    background-color: rgba(191, 209, 212, 0.405);
}

#mess {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    background-color:rgba(191, 209, 212, 0.405);
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    height: 100vh;
  }
  