body {
    background-color: rgba(191, 209, 212, 0.405);
}

#mess {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    background-color:rgba(191, 209, 212, 0.405);
}

#buttons {
    position:relative;
    top: 240px;
    left:40%;
 }
    
  